@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: oklch(0.1772 0.002 106.6);
  --foreground: oklch(0.985 0 0);
  --font-sans: "Satoshi", sans-serif;
  --font-serif: "Instrument Serif", Serif;
  --font-geist: "Geist", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

.dark {
  --background: oklch(97% 0 0);
  --foreground: oklch(0.141 0.005 285.823);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-geist: var(--font-geist);
  --font-manrope: var(--font-manrope);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply text-foreground bg-background;
  }
}

@layer components {
  .gradient-circle {
    @apply w-32 h-32 rounded-full bg-[radial-gradient(circle,_rgba(59,130,246,0.8)_0%,_rgba(168,85,247,0.3)_60%,_transparent_100%)] blur-[80px] opacity-90 bg-orange-300;
  }
}
